#emdedding model
COHERE_API_KEY=
GENERATE_MODEL_ID=
EMBEDDING_MODEL_ID=
#llm Api keys
OPENAI_API_KEY_AGENT=
OPENAI_API_KEY_BASE=
OPENAI_API_BASE=
OPENAI_MODEL_NAME=
#search engine api keys
BING_SUBSCRIPTION_KEY=


